*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container-menu{
    float: left;
    max-width: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: 300ms;
    
}

.menu{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #ff0045;
    height: 100%;
}

.item{
    display: block;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    transform: translateX(-30px);
    opacity: 0;
    
    transition: all 300ms;
}

.item:before{
    content: '';
    position: absolute;
    left: -20px;
    width: 0px;
    height: 100%;
    background: #009de3;
    transition: all 300ms;
}

.item:hover:before{
    width: 6px;
}

.toggle{
    display: inline-block;
    margin: 10px;
    padding: 12px 16px;
    font-weight: 600;
    background: #009de3;
    color: #fff;
    cursor: pointer;
    transition: opacity 300ms;
}

.toggle:hover{
    opacity: 0.8;
}

.toggle-check:checked ~ .container-menu{
    max-width: 220px;
}

.toggle-check:checked ~ .container-menu .item{
    opacity: 1;
    transition-delay: 200ms;
    transform: translateX(0);
}



















